# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
es1/node_modules
es1/.pnp
es1/.pnp.js

# testing
es1/coverage

# production
es1/build

# misc
es1/.DS_Store
es1/.env.local
es1/.env.development.local
es1/.env.test.local
es1/.env.production.local

es1/npm-debug.log*
es1/yarn-debug.log*
es1/yarn-error.log*
