# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
es1_expense_tracker/node_modules
es1_expense_tracker/.pnp
es1_expense_tracker/.pnp.js

# testing
es1_expense_tracker/coverage

# production
es1_expense_tracker/build

# misc
es1_expense_tracker/.DS_Store
es1_expense_tracker/.env.local
es1_expense_tracker/.env.development.local
es1_expense_tracker/.env.test.local
es1_expense_tracker/.env.production.local

es1_expense_tracker/npm-debug.log*
es1_expense_tracker/yarn-debug.log*
es1_expense_tracker/yarn-error.log*


# dependencies
es2_to_do_list/node_modules
es2_to_do_list/.pnp
es2_to_do_list/.pnp.js

# testing
es2_to_do_list/coverage

# production
es2_to_do_list/build

# misc
es2_to_do_list/.DS_Store
es2_to_do_list/.env.local
es2_to_do_list/.env.development.local
es2_to_do_list/.env.test.local
es2_to_do_list/.env.production.local

es2_to_do_list/npm-debug.log*
es2_to_do_list/yarn-debug.log*
es2_to_do_list/yarn-error.log*